@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:wght@100;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #666666;
}

body {
    background-color: #ffffff;
}

h2 {
    font-size: 3rem !important;
}

h3 {
    font-size: 2.3rem !important;
    display: flex;
    justify-content: center;
}

h4 {
    font-size: 1.5rem !important;
    color: #57cc99 !important;
    display: flex;
    justify-content: center;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    padding: 5px 0;
    /* text-align: center; */
    transition: box-shadow 0.5s ease-in-out;
    z-index: 11;
}

#header.fixed {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav_logo {
    width: auto;
    height: 50px;
    margin: 0.5rem 0 0 6rem;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    padding: 15px;
    margin-right: 2rem;
    margin-top: 1rem;
}

.topnav-right a {
    /* margin: 0 0.4rem; */
    text-decoration: none;
    color: #666666;
    padding: 10px 20px;
    border-radius: 8px;
}

.topnav-right a:hover {
    background-color: #57cc99;
    color: #ffffff;
  }

.main_img {
    width: auto;
    height: 25rem;
    margin: 0 5rem;
}

.sec {
    height: 90vh;
}

.texto_intro {
    display: flex;
    align-items: center;
}

.instagram {
    padding: 10px 25px;
    background-color: #57cc99;
    border: 0;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ########################## RESPONSIVIDADE ############################################*/

/* COMPUTADOR  */

@media (min-width: 1000px) {
    .main {
        margin: 10rem 18rem 0 18rem;
    }

    .divisao {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

/* NOTEBOOK */

@media (min-width: 700px) {
    .main {
        margin: 10rem 6rem 0 6rem;
    }
}

/* CELULAR */

@media (max-width: 700px) {
    .main {
        margin: 10rem 3rem 0 3rem;
    }
}