@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:wght@100;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    color: #102a3b;
}

body {
    background-color: #ffffff;
}

.body {
    display: none;
    /* Inicia oculto */
    animation: fadeIn 1s ease-in-out;
}

/* Animação de fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

ul {
    padding: 0 !important;
}

/* TÍTULOS  */

h2 {
    font-size: 3rem !important;
}

h3 {
    font-size: 2.3rem !important;

}

h4 {
    font-size: 1.5rem !important;
    color: #57cc99 !important;
    margin-top: 3rem !important;
}

h6 {
    color: white !important;
    /* display: flex;
    justify-content: center; */
    font-weight: bolder !important;
    margin-top: 3rem !important;
    font-size: 1.7rem !important;
}

/* TEXTO  */

.text {
    margin: 3rem 0;
}

/* Estilos para a animação de carregamento */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
    position: absolute;
}

/* LOGO DO HEADER  */

.nav_logo {
    width: auto;
    height: 50px;
}

/* ESTILIZAÇÃO DO HEADER  */

#header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    /* padding: 5px 0; */
    /* text-align: center; */
    transition: box-shadow 0.5s ease-in-out;
    z-index: 11;
}

#header.fixed {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topnav-right {
    float: right;
    padding: 15px;
    margin-right: 2rem;
    margin-top: 1rem;
}

.topnav-right a {
    /* margin: 0 0.4rem; */
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.4s ease-in-out;

}

.topnav-right a:hover {
    background-color: #57cc99;
    color: #ffffff;
}

.nav_logo_responsive {
    height: 3rem;
    width: auto;
}

/* CORPO DO SITE  */

.main_img {
    width: auto;
}

/* IMAGEM DE ESTILIZAÇÃO  */

.folhas {
    position: absolute;
    margin-top: 15rem;
    width: auto;
    height: 9rem;
}

.texto_intro {
    display: flex;
    align-items: center;
}

/* BOTÃO DE ACESSO AO INSTRAGRAM  */

.instagram {
    padding: 15px 25px;
    background-color: #57cc99;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .3s linear;
}

.instagram:hover {
    transform: scale(1.1);
}

.instagram a {
    text-decoration: none;
    color: #ffffff;
}

.part_lista li {
    color: white;
    list-style: none;
    font-size: 12px;
}

/* SCROLL TO TOP  */

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #57cc99;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #47a77d;
}

/* CARDS DE NOTÍCIAS  */

.card_info {
    width: 22rem;
    /* border: 1px solid #57cc99; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 1rem;
    transition: .3s linear;
    cursor: pointer;
}

.card_info:hover {
    transform: scale(1.1);
}

.card_info h5 {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}

.card_info p {
    font-size: 10px;
}

.card_info img {
    width: 100%;
    height: auto;
}

.card_info p,
.card_info h5 {
    padding: 0 0.5rem;
}

.card_search {
    /* box-shadow: rgba(3, 4, 3, 0.219) 0px 3px 8px; */
    padding: 1rem 4rem;
    margin: 2rem;
}

.card_search h4 {
    font-size: 4rem;
    margin-top: 0 !important;
    display: block !important;
}

.card_search p {
    font-size: 0.8rem;
}

.icon {
    font-size: 6rem;
    font-weight: bolder;
}

.link_noticias {
    text-decoration: none;
}

.btn_noticias {
    background: none;
    border: 1px solid #b4b4b4;
    border-radius: 20px;
    color: #a5a5a5;
    padding: 5px 15px;
    font-size: 13px;
    margin: 2rem;
    transition: .3s linear;
}

.btn_noticias:hover{
    background-color: #57cc99;
    color: #ffffff;
    border: 1px solid #57cc99;
    transform: scale(1.1);
}

/* ESTILIZAÇÃO DO FOOTER  */

.footer_main {
    background-color: #102a3b;
    padding: 1rem;
}

.footer_logo {
    height: 4rem;
    width: auto;
    margin: 1rem 0;
}

.btn_footer {
    display: block;
    width: 13rem;
    height: 4.5rem;
    padding: 0.5rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 1rem 0;
    background-color: #0a2435;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.btn_footer:hover {
    background-color: #57cc99;
    border: 1px solid #57cc99;
}

.btn_footer:hover>.text_menor {
    color: #ffffff;
}

.btn_footer p {
    margin: 0;
    color: white;
}

.text_menor {
    color: #a5a5a5;
    font-size: 10px;
}

.text_footer {
    color: white;
    margin-bottom: -5px;
    color: #bebebe;
    font-size: 15px;
    margin-top: 2rem;
}

/* ########################## RESPONSIVIDADE ############################################*/

/* COMPUTADOR  */


/* NOTEBOOK */

@media (min-width: 1000px) {
    .main {
        margin: 10rem 10rem 0 10rem;
    }

    #header {
        padding: 0 3rem;
    }

    .divisao {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .sec {
        /* height: 100vh; */
        margin-bottom: 8rem;
    }

    .responsive_menu {
        display: none;
    }

    .nav_logo {
        margin: 0.7rem 0 0 6rem;
    }

    .main_img {
        margin: 0 30%;
        height: 34rem;
    }

    .responsive_menu {
        display: none !important;
    }

    .topnav_responsive {
        display: none;
    }

    .offcanvas,
    .offcanvas-backdrop {
        display: none !important;
    }

    h3 {
        display: flex;
        justify-content: center;
        margin: 6rem;
    }

    h4 {
        display: flex;
        justify-content: center;
    }
}

/* TABLET  */

@media (max-width: 1000px) {
    .main {
        margin: 10rem 3rem 0 3rem;
    }

    .folhas {
        display: none;
    }

    .nav_logo {
        margin: 0.7rem 0 0 2.8rem;
    }

    .topnav-right {
        display: none;
    }

    .responsive_menu {
        display: block !important;
        float: right;
        margin: 1.2rem 3rem 0 0;
    }

    .responsive_menu i {
        color: #57cc99 !important;
        font-size: 2rem;
    }

    .main_img {
        margin: 2.5rem 0;
        height: 25rem;
    }

    .topnav_responsive {
        display: block;
        /* margin-left: 0.8rem; */
        margin-top: -15px;
    }

    .topnav_responsive a {
        display: block;
        text-decoration: none;
        color: inherit;
        margin-top: 10px;
        padding: 10px 20px;
        transition: 0.3s ease-in-out;
    }

    .topnav_responsive a:hover {
        background-color: #57cc99;
        color: #ffffff;
        width: 100%;

    }

    .offcanvas {
        height: 23rem !important;
    }
}


/* CELULAR */

@media (max-width: 600px) {
    .main_img {
        margin: 2.5rem 0;
        height: 20rem;
    }

}

/* API CONFIGURAÇÕES DE ESTILO  */
/* Configuração API */
/* api */

.container-api1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 3rem 4rem;
}

.container-api2 {
    background-color: #ffffff;
    box-shadow: rgba(3, 4, 3, 0.431) 0px 3px 8px;
    padding: 2rem;
    color: #363636;
    border-radius: 1rem;
}

#city {
    color: #363636;
}

/* form */
.form h3 {
    margin-bottom: 1rem;
    color: #57cc99;
}

.form-input-container {
    display: flex;
}



.form input {
    padding: .8rem;
    border: 1px solid #203848;
    flex: 1;
    border-radius: 4px;
}

i {
    color: #363636;
}

.form button {
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #fdfdfd;
    color: #57cc99;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.hide {
    display: none;
}

/* Clima */
#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data span {
    margin: 0.6rem;
}

#country {
    max-width: 60px;
}

#description,
#wind,
p {
    margin-bottom: 0;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #humidity {
    border-right: 1px solid #fff;
    margin: 0.6rem;
    padding: 0.6rem;
}

#humidity {
    margin-bottom: 0px;
}